.project {
    height: auto;
    padding: 50px 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #212121;
    font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) );
    
}

.project .projects {
    margin-top: 20px;
    display: grid;
    width: 70vw;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
}

.project .projects article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    text-align: center;
}

.project .projects article .image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    height: 25vw;
    width: 30vw;
}

.project .projects article .image img {
    height: 60%;
    width: 85%;
    transition: transform 0.5s, box-shadow 0.5s;
}

.project .projects article .image img:hover {
    box-shadow: 0px 0px 10px 2px #212121;
    transform: scale(1.3);
}

.project .projects article .legend {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    text-align: start;
    flex-direction: column;
    font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) );
    width: 30vw;
    margin: 10px 0;
}

.project .projects article .legend p {
    margin: 10px 0;
    font-size: 1.2em;
}

.project .projects article .legend a {
    text-decoration: none;
    padding: 0.4em;
    color: #2CEE79;
    border-radius: 25px;
    font-size: 0.6em;
}

@media (max-width: 780px) {
    .project .projects {
        margin-top: 20px;
        display: grid;
        width: 70vw;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .project .projects article .image {
        width: 100%;
        height: 50vw;
    }

    .project .projects article .legend {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3em;
        width: 100%;
    }
}